# Capacity Exchange Server
# TODO: This should be a list
VITE_CAPACITY_EXCHANGE_URL=http://localhost:3000

# Proof server (required for preprod/mainnet, has default for preview)
#VITE_PROOF_SERVER_URL=

# Enable mocked demo flow that skips wallet / contract dependencies
#VITE_MOCK_DEMO_MODE=true
